<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/courseinput" method="post">
      {% csrf_token %}
      <p>Class: <input type="text" name="name"></p>
      <p>Description: <textarea name="desc" rows="15" cols="10"></textarea></p>
      <input type="submit" name="submit" value="Submit">
    </form>
<br><br>
    <table style = "border: 1px solid black;">
      <tr>
        <th>Course Name</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Actions</th>
      </tr>
      {% if courses %}
        {% for course in courses %}
          <tr>
            <td>{{course.name}}</td>
            <td>{{course.desc}}</td>
            <td>{{course.created_at}}</td>
            <td><a href="/remove"><button type="button" name="remove"></button>Remove</a></td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
