{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Reviews</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

  </head>
  <body>
    <div class="login" style="float:left; padding-left: 15%;">
      <form action="/login" method="POST">
        {% csrf_token %}
      	<div class="login">
      		<div class="login-screen">
      			<div class="app-title">
      				<h1>Login</h1>
      			</div>

      			<div class="login-form">
      				<div class="control-group">
      				<input type="text" class="login-field" value="" placeholder="username" name="username">
      				<label class="login-field-icon fui-user" for="login-name"></label>
      				</div>

      				<div class="control-group">
      				<input type="password" class="login-field" placeholder="password" name="passy">
      				<label class="login-field-icon fui-lock" for="login-pass"></label>
      				</div>
                    <input type="submit" value="Log in" name="submit" class="btn btn-primary btn-large btn-block" ><br>
      		  </div>
      		</div>
      	</div>
        <div class="success-login">
          <ul>
            {% if messages %}
              {% for val in messages %}
                <li>{{val}}</li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </form>
    </div>

    <div class="registration" style="float:right; padding-right: 15%;">
      <form action="/register" method="POST">
        {% csrf_token %}
        <div class="login">
          <div class="login-screen">
            <div class="app-title">
              <h1>Registration Form</h1>
            </div>

            <div class="login-form">
              <div class="control-group">
                <label><strong>First Name:<strong></label>
                <input type="text" class="login-field" name="fname">
              </div>

              <div class="control-group">
                <label><strong>Last Name:<strong></label>
                <input type="text" class="login-field" name="lname">
              </div>

              <div class="control-group">
                <label><strong>E-mail:<strong></label>
                <input type="text" class="login-field" name="email">
              </div>

              <div class="control-group">
                <label class="login-field-icon fui-user" for="login-name"><strong>Username: </strong></label>
                <input type="text" class="login-field" name="username">
              </div>

              <div class="control-group">
                <label class="login-field-icon fui-user" for="login-name"><strong>Birthday: </strong></label>
                <input type="date" class="login-field" name="bday">
              </div>

              <div class="control-group">
                <label class="login-field-icon fui-lock" for="login-pass"><strong>Password:<strong></label>
                <input type="password" class="login-field" name="password">
              </div>


              <div class="control-group">
                <label class="login-field-icon fui-lock" for="login-pass"><strong>Confirm Password:<strong></label>
                <input type="password" class="login-field" name="confirm">
              </div>

              <input type="submit" value="Submit" name="submit" class="btn btn-primary btn-large btn-block"><br>
            </div>
          </div>
          <div class="flash">

              <ul class="messages">
                {% if messages %}
                  {% for msg in messages %}
                    <li> {{ msg }} </li>
                  {% endfor %}
                {% endif %}
              </ul>

          </div>
        </div>
      </form>
    </div>
  </body>
</html>
