<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='gameresult.css') }}">
  </head>
  <body>
    <h1>Welcome to The Game</h1>
    <h2>I hold in my mind a number between 1 and 100</h2>
    <p>Take a wild guess:</p>
    <form class="" action="/result" method="post">
      <div id="resultbox" class= {{session['class']}} >
        <h1>{{session['some']}}</h1>
      </div>
      <input type="text" name="val" placeholder="Your guess goes here">
      <input type="submit" name="submit" value="Submit">
      {% if session['class'] == 'win' %}
        <input type="submit" name="reset" value="Reset">
      {% endif %}
    </form>
  </body>
</html>
