.secret-post{
  background: #2F5CBF;
  width: 40%;
  border-radius: 1em;
  padding: .1em;
  margin: .1em;
  color:white;
  padding: 0 auto;
}

.secret-post p {
  text-align: : left;
  display: block;
}
