<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <strong class="title">Yik Yak Dojo Secrets</strong>
      <form class="login-form" action="/validate" method="post" style="float:right">
          <span>Login: <input type="text" name="username"></span>
          <span>Password: <input type="password" name="password"></span>
          <span><input type="submit" name="login" value="Login"></span>
          <a href="/register"><button type="button" name="button">Register</button></a>
      </form>
    </nav>
    <div class="container">
      <div class="entry">
        <form class="" action="/secrets" method="post">
          <textarea name="comment" rows="10" cols="65"></textarea>
          <span><input type="submit" name="secret" value="Pssst"><input type="checkbox" name="anon" value="Yes"><label for="anon">Post Anonymous</label></span>
        </form>
      </div>

      <div class="wall">



      </div>


    </div>
  </body>
</html>
