{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <nav>
      <strong class="title">Yik Yak Dojo Secrets</strong>
      {% if messages %}
        {% for message in messages %}
          <span>{{message}}</span>
        {% endfor %}
      {% endif %}
      {% if request.session.login == False %}
        <form class="login-form" action="/verify" method="post" style="float:right;">
          {% csrf_token %}
            <span>Login: <input type="text" name="user"></span>
            <span>Password: <input type="password" name="pass"></span>
            <span><input type="submit" name="login" value="Login"></span>
            <a href="/register"><button type="button" name="button">Register</button></a>
        </form>
      {% endif %}
      {% if request.session.login == True %}
        <span style="float:right;">Hello {{request.session.username}}, any secrets to share?
        <a href="/logout"><button type="button" name="logout">Logout</button></a></span>
      {% endif %}
    </nav>
    <div class="container">
      <div class="entry">
        <form class="" action="/secrets" method="post">
          {% csrf_token %}
          <textarea name="comment" rows="10" cols="65" placeholder="Pssst...."></textarea>
          <span><input type="submit" value="Pssst"><input type="checkbox" name="anon" value="Yes"><label for="anon">Post Anon</label></span>
        </form>
      </div>

      <div class="sorts">
        Sort By:
        <a href="/popular">Most Popular</a> |
        <a href="/new">New</a>
      </div>

      <div class="wall">
        {% for val in list %}
          <div class="secret-post" style="padding: 10px;">
            <p>
              <img src="{% static 'images.png' %}" alt="#" style="height:25px; width:25px">
              <span>
                {% if val.anon == True %}
                  Anon
                {% endif %}
                {% if val.anon == False %}
                  {{val.user.username}}
                {% endif %}
              </span><br>
              <span>{{val.text}}</span>
              <p>{{val.created_at}}
                <form class="" action="/like" method="post">
                  {% csrf_token %}
                    <span><button type="submit" name="like" value="{{val.id}}">Like</button></span>
                    <!-- <input type="hidden" name="like" value="{{val.id}}"> -->
                    <span><button type="submit" name="unlike" value="{{val.id}}">Unlike</button></span>
                    {% if val.user.username == request.session.username %}
                      <span><button type="submit" name="delete" value="{{val.id}}">Delete</button></span>
                    {% endif %}
                      <span>Likes: {{val.like_count}}</span>
                </form>
              </p>

            </p>
          </div>
        {% endfor %}
      </div>


    </div>
  </body>
</html>
