<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav style="float:right;">
      <a href="/dashboard">Home</a>
      <a href="/logout">Logout</a>
    </nav>
    <h1>{{book.title}}</h1>
    <h2>Author: {{book.author.name}}</h2>

    <div class="book-reviews" style="width:40%; float:left;">
      <p>Reviews: </p>
      {% for val in reviews.all %}
        <hr>
        <ul>
          <li>Rating: {{val.rating}}</li>
          <li><a href="/dashboard/users/{{val.user.id}}">{{val.user.first_name}}</a> says: {{val.content}}</li>
          <li>Posted on {{val.created_at}}</li>
        </ul>
        {% if val.user.id == request.session.id %}
          <form action="/delete" method="post">
            {% csrf_token %}
            <input type="hidden" name="delete" value="{{val.id}}">
            <input type="hidden" name="book_id" value="{{val.book.id}}">
            <input type="submit" name="submit" value="Delete">
          </form>
        {% endif %}
      {% endfor %}
    </div>
    <div class="add-from-book" style="width:50%; float:right;">
      <p>Add a Review: </p>
      <form class="" action="/submitbook" method="post">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{book.title}}">
        <input type="hidden" name="user" value="{{user}}">
        <textarea name="review" rows="8" cols="40"></textarea>
        <p><span>Rating: </span>
          <select class="" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </p>
        <input type="submit" value="Submit">
      </form>
    </div>
    <ul style="float:right; clear:right; right:50px;">
      {% if messages %}
        {% for val in messages %}
          <li>{{val}}</li>
        {% endfor %}
      {% endif %}
    </ul>
    <input style="position: absolute; bottom:50px;" type=button value="Previous Page" onClick="javascript:history.go(-1);">
  </body>
</html>
