{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">


<form action="/login" method="GET">
  {% csrf_token %}
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" placeholder="password" name="passy">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
              <input type="submit" value="Log in" name="submit" class="btn btn-primary btn-large btn-block" ><br>
              <a href="/register" class="btn btn-danger btn-large btn-block">Register</a><br>
		  </div>
		</div>
	</div>
  <div class="success-login">
    <ul>
      {% if messages %}
        {% for val in messages %}
          <li>{{val}}</li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
</form>
</html>
