body{
    text-align: center;
}
#resultbox{
  margin: 0 auto;
}
.low{
  width: 250px;
  height: 250px;
  background-color: yellow;
  color: black;
}
.high{
  width: 250px;
  height: 250px;
  background-color: red;
  color: white;
}
.win{
  width: 250px;
  height: 250px;
  background-color: green;
  color: white;
}
